:root {
  --primary-color: #044cac;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #e74a3b;
  --orange: #fd7e14;
  --yellow: #f6c23e;
  --green: #1cc88a;
  --teal: #20c9a6;
  --cyan: #36b9cc;
  --white: #fff;
  --gray: #858796;
  --gray-dark: #5a5c69;
  --primary: #4e73df;
  --secondary: #858796;
  --success: #1cc88a;
  --info: #36b9cc;
  --warning: #f6c23e;
  --danger: #e74a3b;
  --light: #f8f9fc;
  --dark: #5a5c69;
  --primary-color-yellow: #ffca0f;
  --font-family-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
body {
  background-color: var(--yellow);
  color: black;
  margin: 0px;
  padding: 3px;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.content {
  justify-content: center;
  align-items: center;
}
/* nav */

nav {
  opacity: 0.9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
  top: 0px;
  z-index: 9999;
  position: fixed;
  height: 90px;
  width: 100%;
  background-color: #044cac;
  border-bottom-right-radius: 21px;
  border-bottom-left-radius: 21px;
  transition: border-bottom-left-radius 2s ease-in-out, border-bottom-right-radius 2s ease-in-out, opacity 2s ease-in-out;
}
@media (max-width: 655px) {
  nav {
    display: none;
    opacity: 0.9;
    margin-top: 0px;
    top: 0px;
    z-index: 9999;
    position: fixed;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
    width: 40vh;
    background-color: var(--primary-color);
    border-bottom-right-radius: 21px;
    border-bottom-left-radius: 21px;
    transition: border-bottom-left-radius 2s ease-in-out, border-bottom-right-radius 2s ease-in-out, opacity 2s ease-in-out;
  }
  .right .nav-item {
    line-height: 8vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

nav button {
  background-color: transparent;
}

nav:hover {
  opacity: 1;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#nav-down {
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: 0px;
  top: 10px;
  position: fixed;
  z-index: 10000;
}
#nav-up {
  border: 0px;
  background-color: var(--primary-color);
  color: var(--primary-color-yellow);
  font-size: 25px;
}
#nav-down-1 {
  font-weight: bolder;
  font-size: larger;
  position: fixed;
  color: rgb(231, 16, 16);
}
#nav-down-1:hover {
  font-weight: bolder;
  font-size: larger;
  position: fixed;
  color: red;
}
nav a {
  color: whitesmoke;
  text-decoration: none;
  transition: font-size 1s ease-out;
}
nav a:hover {
  font-size: larger;
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.nav-item {
  display: flex;
  margin-right: 25px;
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
}
/* content */
.content {
  margin-top: 100px;
  padding: 10px;
  box-shadow: #e74a3b;
}

/* list */
ul.no-style {
  list-style: none;
  text-decoration: none;
}
/* list */
/* color */
.primary-color-bg {
  background-color: var(--primary-color);
}
.primary-color-yellow-bg {
  background-color: var(--primary-color-yellow);
}
.bg-gr-1 {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

/* color */
/* align-scale */
.align-center {
  align-items: center;
}
.align-right {
  align-items: right;
}
.float-right {
  float: right;
}
/* justification-sclae */
.justify-content-l {
  justify-content: left;
}
.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}
/* Display-scale */
.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.d-flex.row {
  flex-direction: row;
}
.d-flex.col {
  flex-direction: column;
}
/* Margin-scale */
.mt-2px {
  margin-top: 2px;
}
.mt-4px {
  margin-top: 4px;
}
.mt-6px {
  margin-top: 6px;
}
.mt-8px {
  margin-top: 8px;
}
.mt-10px {
  margin-top: 10px;
}
.mt-12px {
  margin-top: 12px;
}
.mt-2vh {
  margin-top: 2vh;
}
.mt-4vh {
  margin-top: 4vh;
}
.mt-6vh {
  margin-top: 6vh;
}
.mt-8vh {
  margin-top: 8vh;
}
.mt-10vh {
  margin-top: 10vh;
}
.mt-12vh {
  margin-top: 12vh;
}
.mb-2px {
  margin-bottom: 2px;
}
.mb-4px {
  margin-bottom: 4px;
}
.mb-6px {
  margin-bottom: 6px;
}
.mb-8px {
  margin-bottom: 8px;
}
.mb-2px {
  margin-bottom: 2px;
}
.mb-4vh {
  margin-bottom: 4vh;
}
.mb-6vh {
  margin-bottom: 6vh;
}
.mb-8vh {
  margin-bottom: 8vh;
}
.mb-auto {
  margin-bottom: auto;
}
.ml-2px {
  margin-left: 2px;
}
.ml-4px {
  margin-left: 4px;
}
.ml-6px {
  margin-left: 6px;
}
.ml-8px {
  margin-left: 8px;
}
.ml-auto {
  margin-left: 50%;
}
.mr-2px {
  margin-right: 2px;
}
.mr-4px {
  margin-right: 4px;
}
.mr-6px {
  margin-right: 6px;
}
.mr-8px {
  margin-right: 8px;
}
.mr-10px {
  margin-right: 10px;
}
.mr-15px {
  margin-right: 15px;
}
.mr-20px {
  margin-right: 20px;
}
.mr-25px {
  margin-right: 25px;
}
.mr-auto {
  margin-right: 50%;
}
.m-auto {
  margin: auto;
}
.m-0 {
  margin: 0 auto;
}
/* padding */
.p-2px {
  padding: 2px;
}
.p-4px {
  padding: 4px;
}
.p-6px {
  padding: 6px;
}
.p-8px {
  padding: 8px;
}
.p-10px {
  padding: 10px;
}
.p-auto {
  padding: auto;
}

/* Font Color */
.f-white {
  color: white;
}
.f-primary {
  color: var(--primary-color);
}
.f-primary-yellow {
  color: var(--primary-color-yellow);
}
.f-primary-orange {
  color: var(--orange);
}
.f-primary-indigo {
  color: var(--indigo);
}

/* font */
.f-center {
  text-align: center;
}
.f-l {
  text-align: left;
}
.f-r {
  text-align: right;
}
.f-t {
  text-align: top;
}
/* font Size */
.f-10px {
  font-size: 10px;
}
.f-12px {
  font-size: 12px;
}
.f-15px {
  font-size: 15px;
}
.f-17px {
  font-size: 17px;
}
.f-20px {
  font-size: 20px;
}
.f-25px {
  font-size: 25px;
}
.f-40px {
  font-size: 40px;
}

.f-60px {
  font-size: 60px;
}
/* Font Style */
.f-w-100 {
  font-weight: 100;
}
.f-w-200 {
  font-weight: 200;
}
.f-w-300 {
  font-weight: 300;
}
.f-w-400 {
  font-weight: 400;
}
.f-bold {
  font-weight: bold;
}
.f-bold-x {
  font-weight: bolder;
}
/* font-family */
.f-family-1 {
  font-family: serif;
}
.f-family-2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/* Mouse Style */
.mouse-p {
  cursor: pointer;
}
/* Field */
.in-oval {
  width: 50vh;
  height: 4vh;
  border-radius: 20px;
}
/* profile & image */
.container-1 {
  width: 99%;
  margin: 0 auto;
  height: auto;
  background-color: #6610f2;
  border-radius: 10px;
  display: flex;
  box-sizing: border-box;
  margin-bottom: 8vh;
  align-content: center;
  justify-content: space-between; /* Align contents to the left */
  overflow: hidden;
  padding-top: 3px;
  padding: 4px;
  padding-right: 0px;
  transition: 0.2s ease-in-out;
  /* font */
}
@media (max-width: 768px) {
  .container-1 {
    flex-direction: column;
  }
  .container-1 img {
    width: 99%;
    height: 99vh;
  }
}
.container-1:hover {
  transform: scale(1.003);
}
.container-1 h1 {
  font-size: 6vh;
  color: var(--white);
}
.head {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head-1 {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: max-content;
  height: fit-content;
  transition: transform 1s ease-in-out;
}
.head-1:hover {
  transform: scale(1.02) translateY(5px);
}

.container-1 img {
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-radius: 8px;
  border: 2px solid #044cac;
  transition: 0.5s ease-in-out;
}
.container-1 img:hover {
  transform: translateX(-5px);
}

.container-2 {
  width: 99%;
  margin: 0 auto;
  height: auto;
  border-radius: 10px;
  display: flex;
  box-sizing: border-box;
  margin-bottom: 8vh;
  align-content: center;
  justify-content: space-between; /* Align contents to the left */
  overflow: hidden;
  padding-top: 3px;
  padding: 4px;
  padding-right: 0px;
  transition: 0.2s ease-in-out;
  /* font */
}
@media (max-width: 768px) {
  .container-2 {
    flex-direction: column;
  }
}
.container-2:hover {
  transform: scale(1.003);
}

.container-2 img {
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-radius: 8px;
  border: 2px solid #044cac;
  transition: 0.5s ease-in-out;
}
.container-2 img:hover {
  transform: translateX(5px);
}
/* scroll button */

#scroll1 {
  position: fixed;
  opacity: 0.9;
  bottom: 5vh;
  right: 3vh;
  font-size: 6vh;
  border-radius: 80%;
  font-style: bold;
  background-color: transparent;
  border: 0;
  color: var(--danger);
  transition: transform 1s ease-in-out;
}

#scroll1:hover {
  transform: scale(1.2);
  opacity: 1;
  color: var(--danger);
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  bottom: 0px;
  width: 100;
  height: 15vh;
  padding: 20px;
  background-color: rgb(240, 236, 236);
  transition: background-color 1s ease;
}
footer:hover {
  background-color: rgb(255, 255, 255);
}
@media (max-width: 655px) {
  footer {
    justify-content: center;
  }
}
.footer-card {
  background-color: rgb(233, 217, 217);
  text-align: left;
  font-size: 2vh;
  line-height: inherit;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px 5px 5px 5px;
}
.social-link {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: #ffffff;
  font-size: 25px;
  border-radius: 50px 50px 50px 50px;
  width: fit-content;
  height: 30px;
}
.social-link-1 {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 10px 10px 10px 10px;
  background-color: #ffffff;
  font-size: 30px;
  border-radius: 50px 50px 50px 50px;
  width: fit-content;
  height: 30px;
}
.social-link-1:hover {
  background-color: #d8d9e0;
}
.social-link:hover {
  background-color: #d8d9e0;
}
.icons {
  text-decoration: none;
  transition: font-size 1s ease-in-out;
}

.icons:hover {
  font-size: 26px;
  color: white;
}
.facebook {
  color: #3b5998;
}

.instagram {
  background: linear-gradient(135deg, #e4405f, #d81b60);
}

/* button */
.btn {
  min-width: 100px;
  width: auto;
  height: auto;
  color: #d8d9e0;
  padding: 10px;
  border-radius: 5px 5px 5px 15px;
  border-color: transparent;
  transition: transform 1s ease-in-out, color 1s ease-in-out;
  font-weight: bold;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.04);
  color: white;
}
.btn-primary {
  background-color: var(--primary-color);
}
.btn-info {
  background-color: var(--info);
}
.btn-danger {
  background-color: var(--danger);
}
.btn-light {
  background-color: var(--light);
}
.btn-warning {
  background-color: var(--warning);
}
.btn-success {
  background-color: var(--success);
}
/*
/* end of buotton */

/* logo */
.logo {
  width: 40vh;
  height: 40vh;
  display: block;
  margin: 0 auto;
  padding: 5px;
}
.logo-sm {
  width: 20vh;
  height: 20vh;
  display: block;
  margin: 0 auto;
  padding: 5px;
}
/* end of logo */

.type {
  animation: write-f 3s steps(17) 1, border 3s linear 1;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes write-f {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes border {
  0% {
    border-right: 2px solid black;
  }
  10% {
    border-right: none;
  }
  20% {
    border-right: 2px solid black;
  }
  30% {
    border: none;
  }
  40% {
    border-right: 2px solid black;
  }
  40% {
    border-right: none;
  }
  50% {
    border-right: 2px solid black;
  }
  60% {
    border: none;
  }
  70% {
    border-right: 2px solid black;
  }
  80% {
    border: none;
  }
  90% {
    border-right: 2px solid black;
  }
  100% {
    border-right: none;
  }
}

/* CONTACT FORM */
.login-form {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50vh;
  height: 50vh;
  padding: 20px;
  border-radius: 15px 15px 0px 15px;
}

.input {
  padding: 5px;
  width: auto;
  height: 5vh;
  margin: 10px;
  border-radius: 10px 10px 10px 10px;
  border: 2px black;
  border-style: ridge;
}

.input:focus {
  border: 3px solid;
  border-color: var(--danger);
}

/* End of Contact Form */
